langchain-core>=0.3.65
langchain-openai>=0.3.22
langchain-qdrant>=0.2.0
langchain
langgraph>=0.4.8
python-dotenv>=1.1.0
notebook
fastapi[standard]>=0.115.8
langchain-mongodb>=0.4.0
langgraph-checkpoint-mongodb>=0.1.0
opik>=1.4.11
pre-commit>=4.1.0
pydantic-settings>=2.7.1
pymongo>=4.9.2
loguru>=0.7.3
langchain-community>=0.3.17
ipykernel>=6.29.5
pydantic>=2.10.6
streamlit